<div class="layui-form  layui-form-pane" lay-filter="envs" style="padding-top: 1em;">
    {% csrf_token %}
    <div class="layui-form-item">
        <div class="layui-row">
            <div class="layui-col-md9">
                <i style="margin-left: 2em; color: red; font-size: small">*用例变量将会覆盖同名公共变量</i>
            </div>
            <div class="layui-col-md3">
                <button class="layui-btn" id="new_env" lay-filter="new_env">新增变量</button>
                <button lay-submit style="display: none" class="layui-btn layui-btn-normal" id="save_env"
                        lay-filter="save_env">保存
                </button>
            </div>
        </div>
    </div>
</div>
<table id="env_table" lay-filter="env_table">
    <input style="display: none" id="group_id" value={{ group_id }}>
</table>
<script type="text/html" id="envToolBar">
    <div>
        <i style="margin-left: 2em; color: red; font-size: small">*用例变量将会覆盖同名公共变量</i>
    </div>
</script>
<script type="text/html" id="row_tool">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del_env">删除</a>
</script>
<script>
    let form = layui.form;
    let table = layui.table;
    form.render(null, 'envs');
    let group_id = $("#group_id").val();
    let table_data = [];
    {% if data %}
        table_data = {{ data | safe }};
    {% endif %}
    function reload_data($, group_id, tb) {
        $.ajax({
            url: "/apitest/group/env/edit/"
            , type: "GET"
            , data: {group_id: group_id}
            , success: function (data) {
                table_data = data.data;
                tb.reload("env_table", {
                    data: data.data
                });
            }
        })
    }
    let env_table = table.render({
        elem: '#env_table',
        id: 'env_table',
        data: table_data,
        page: {
            curr: 1,
            limit: 10
        },
        even: true,
        {#toolbar: '#envToolBar',#}
        cols: [[
            {type: 'numbers', title: '序号', fixed: 'left'},
            {field: 'env_key', title: 'Variable Name', width: '25%', align: 'center', edit: 'text'},
            {field: 'env_value', title: 'Variable Value', minWidth: 400, align: 'center', edit: 'text'},
            {field: '', title: 'Action', align: 'center', toolbar: '#row_tool', width: 70},
        ]],
    });
    form.on('submit(save_env)', function () {
        const envs_csrf = $("div[lay-filter='envs']>input[name='csrfmiddlewaretoken']").val();
        const group_id = $("#group_id").val();
        $.ajax({
            url: "/apitest/group/env/edit/"
            , type: "POST"
            , contentType: 'application/json; charset=utf-8'
            , beforeSend: function (xhr) {
                xhr.setRequestHeader("X-CSRFToken", envs_csrf);
            }
            , data: JSON.stringify({group_id: group_id, data: table_data})
            , success: function (data) {
                layer.open({
                    content: '<div style="padding: 20px 2em;">' + data.msg + '</div>'
                    , type: 1
                    , title: '提示'
                    , time: 5000
                    , btn: '确定'
                    , yes: function (index) {
                        layer.close(index);
                    }
                });
                reload_data($, group_id, table);
            }
        });
    });
    table.on('tool(env_table)', function (obj) {
        let layEvent = obj.event;
        let idx = obj.tr.data('index');
        const envs_csrf = $("div[lay-filter='envs']>input[name='csrfmiddlewaretoken']").val();
        let curr = env_table['config']['page']['curr'];
        let limit = env_table['config']['page']['limit'];
        console.log(env_table);
        if (layEvent === 'del_env') {
            layer.confirm('是否确定删除?', function (index) {
                obj.del();
                $.ajax({
                    url: "/apitest/group/env/del/"
                    , type: "POST"
                    , contentType: 'application/json; charset=utf-8'
                    , beforeSend: function (xhr) {
                        xhr.setRequestHeader("X-CSRFToken", envs_csrf);
                    }
                    , data: JSON.stringify({env_id: obj.data['id']})
                    , success: function (data) {
                        layer.open({
                            content: '<div style="padding: 20px 2em;">' + data.msg + '</div>'
                            , type: 1
                            , title: '提示'
                            , time: 5000
                            , btn: '确定'
                            , yes: function (i) {
                                layer.close(i);
                            }
                        });
                        {#console.log(table.cache['env_table']);  //table数据缓存#}
                        {#table_data = table.cache['env_table'];#}
                        table_data.splice((curr - 1) * limit + idx, 1);
                        console.log(table_data);
                        table.reload("env_table", {
                            data: table_data,
                            page: {curr: curr}
                        });
                    }
                });
                layer.close(index);
            });
        }
    });
    $("#new_env").on('click', function () {
        table_data.push({
            'env_key': '',
            'env_value': ''
        });
        {# 将新数据重新载入表格 #}
        table.reload("env_table", {
            data: table_data
        });
    });

</script>


