<div class="layui-form  layui-form-pane" lay-filter="ds" style="padding-top: 1em;">
    {% csrf_token %}
    <div class="layui-form-item">
        <div class="layui-row">
            <div class="layui-col-md3 layui-col-md-offset9">
                <button class="layui-btn" id="new_name" lay-filter="new_name">新增字段</button>
                <button lay-submit style="display: none" class="layui-btn layui-btn-normal" id="save_name"
                        lay-filter="save_name">保存
                </button>
            </div>
        </div>
    </div>
</div>
<table id="ds_table" lay-filter="ds_table">
    <input style="display: none" id="case_id" value={{ case_id }}>
    <input style="display: none" id="case_title" value={{ case_title }}>
</table>
<script type="text/html" id="ds_row_tool">
    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit_value">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del_name">删除</a>
</script>
<script>
    let form = layui.form;
    let table = layui.table;
    form.render(null, 'ds');
    let case_id = $("#case_id").val();
    let case_title = $("#case_title").val();
    let table_data = [];

    function reload_ds_data($, case_id) {
        $.ajax({
            url: "/apitest/case/ds/edit/"
            , type: "GET"
            , data: {case_id: case_id}
            , success: function (data) {
                table_data = data.data;
                table.reload("ds_table", {
                    data: data.data
                });
            }
        });
    }
    let ds_table = table.render({
        elem: '#ds_table',
        id: 'ds_table',
        data: table_data,
        page: {
            curr: 1,
            limit: 10
        },
        even: true,
        cols: [[
            {type: 'numbers', title: '序号', fixed: 'left'},
            {field: 'p_name', title: 'Param Name', align: 'center', edit: 'text'},
            {field: 'count', title: 'Count', align: 'center', edit: 'text'},
            {field: '', title: 'Action', align: 'center', toolbar: '#ds_row_tool'},
        ]],
    });
    {# 初始化获取 #}
    !function () {
        reload_ds_data($, case_id);
    }();
    form.on('submit(save_name)', function () {
        const ds_csrf = $("div[lay-filter='ds']>input[name='csrfmiddlewaretoken']").val();
        const case_id = $("#case_id").val();
        $.ajax({
            url: "/apitest/case/ds/edit/"
            , type: "POST"
            , contentType: 'application/json; charset=utf-8'
            , beforeSend: function (xhr) {
                xhr.setRequestHeader("X-CSRFToken", ds_csrf);
            }
            , data: JSON.stringify({case_id: case_id, data: table_data})
            , success: function (data) {
                layer.open({
                    content: '<div style="padding: 20px 2em;">' + data.msg + '</div>'
                    , type: 1
                    , title: '提示'
                    , time: 5000
                    , btn: '确定'
                    , yes: function (index) {
                        layer.close(index);
                    }
                });
                reload_ds_data($, case_id);
            }
        });
    });
    table.on('tool(ds_table)', function (obj) {
        let layEvent = obj.event;
        let idx = obj.tr.data('index');
        const ds_csrf = $("div[lay-filter='ds']>input[name='csrfmiddlewaretoken']").val();
        let curr = parseInt($("[lay-id=ds_table] .layui-laypage-curr em:last").text());
        let limit = parseInt($("[lay-id=ds_table] .layui-laypage-limits option:selected").val());
        if (layEvent === 'del_name') {
            layer.confirm('是否确定删除?', function (del_layer) {
                obj.del();
                if(obj.data.hasOwnProperty('id')) {
                    $.ajax({
                        url: "/apitest/case/ds/del/param/"
                        , type: "POST"
                        , contentType: 'application/json; charset=utf-8'
                        , beforeSend: function (xhr) {
                            xhr.setRequestHeader("X-CSRFToken", ds_csrf);
                        }
                        , data: JSON.stringify({param_id: obj.data['id']})
                        , success: function (data) {
                            layer.open({
                                content: '<div style="padding: 20px 2em;">' + data.msg + '</div>'
                                , type: 1
                                , title: '提示'
                                , time: 5000
                                , btn: '确定'
                                , yes: function (ret_layer) {
                                    layer.close(ret_layer);
                                }
                            });
                        }
                    });
                }
                table_data.splice((curr - 1) * limit + idx, 1);
                layer.close(del_layer);
            });
        }else if (layEvent === 'edit_value'){
            if(obj.data.hasOwnProperty('id')) {
                $.ajax({
                    url: "/apitest/case/ds/value/"
                    , type: "GET"
                    , data: {param_id: obj.data['id']}
                    , success: function (ret) {
                        if (!ret.hasOwnProperty('msg')) {
                            layer.open({
                                type: 1
                                , title: ['用例: ' + case_title + ' 参数: ' + obj.data['p_name'], 'font-size:18px;']
                                , content: ret
                                , area: ['600px', '500px']
                                , maxmin: true
                                , resizing: function (layero) {
                                    {# 监听窗口拉伸 #}
                                    table.resize('ds_value_table');
                                }
                                , full: function (layero) {
                                    {# 监听窗口最大化 #}
                                    table.resize('ds_value_table');
                                }
                                , restore: function (layero) {
                                    {# 监听窗口还原 #}
                                    table.resize('ds_value_table');
                                }
                                , btn: ['保存', '关闭']
                                , yes: function (ds_value_layer) {
                                    {#  触发页面内提交  #}
                                    $("#save_value").click();
                                }
                                , btn2: function () {
                                    reload_ds_data($, case_id);
                                }
                            });
                        } else {
                            layer.open({
                                content: '<div style="padding: 20px 2em;">' + ret.msg + '</div>'
                                , type: 1
                                , title: '提示'
                                , time: 5000
                                , btn: '确定'
                                , yes: function (err_layer) {
                                    layer.close(err_layer);
                                }
                            });
                        }
                    }
                });
            }else{
                layer.open({
                    content: '<div style="padding: 20px 2em;">' + '请先保存参数名.' + '</div>'
                    , type: 1
                    , title: '提示'
                    , time: 5000
                    , btn: '确定'
                    , yes: function (err_layer) {
                        layer.close(err_layer);
                    }
                });
            }
        }
    });

    $("#new_name").on('click', function () {
        table_data.push({
            'p_name': '',
            'count': 0
        });
        {# 将新数据重新载入表格 #}
        table.reload("ds_table", {
            data: table_data
        });
    });

</script>



