{#<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">#}
{#    <legend>编辑用例步骤: {{ title }}</legend>#}
{#</fieldset>#}
<div class="layui-form  layui-form-pane" lay-filter="steps" style="padding-top: 1em;">
    {% csrf_token %}
    <div class="layui-form-item">
        <div class="layui-inline">
            <div class="layui-inline">
                <label for="attachments" class="layui-form-label ">文件:</label>
                <div class="layui-input-inline">
                    <select name="attachments" id="attachments" lay-filter="attachments">
                        <option value=""></option>
                        {% if attachments %}
                            {% for item in attachments %}
                                <option value="{{ item.uuid }}">{{ item.file_name }}.{{ item.suffix }}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-inline">
            <div class="layui-input-inline" style="width: 100%">
                <button class="layui-btn" id="copy_uuid">复制文件ID</button>
                <button class="layui-btn layui-btn-normal" id="upload_file">
                    <i class="layui-icon layui-icon-upload-circle"></i>上传文件
                </button>
            </div>
        </div>
        <div class="layui-inline" style="float: right">
            <div class="layui-input-inline">
                <button class="layui-btn layui-btn-normal" id="new_step" lay-filter="new_step">新增步骤</button>
                <button lay-submit style="display: none" class="layui-btn layui-btn-normal" id="save_case"
                        lay-filter="save_case">保存
                </button>
            </div>
        </div>
    </div>
</div>
<table id="step_table" lay-filter="step_table">
    {#    <input style="display: none" id="csrf" value={{ csrf_token }}>#}
    <input style="display: none" id="case_id" value="{{ case_id }}"/>
</table>
<style>
    span.keyword {
        font-weight: bold;
        font-size: 12px;
        margin: 10px;
    }

    span.param {
        font-style: italic;
        font-size: 12px;
        margin: 10px;
    }
</style>
<script type="text/html" id="stepsToolBar">
    <div>
        行拖拽: <input type="checkbox" lay-skin="switch" lay-filter="rowDragSwitch" lay-text="启用|暂停" checked>
        <i style="margin-left: 2em; color: red; font-size: small">*切换分页前请保存</i>
        <i class="helpicon icon-help" style="font-size: 28px; float: right"></i>
    </div>
</script>
<script type="text/html" id="row_tool">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script>
    function setSelectCSS() {
        $(".layui-table-body, .layui-table-box, td[data-field='step_action']>.layui-table-cell").css('overflow', 'visible');
        $("td[data-field='step_action'] .layui-form-select").css(LAYUI_TABLE_SELECT_MARGIN);
    }

    let helper_info = "{{ helper | safe }}";

    layui.use(['form', 'table', 'soulTable', 'layer', 'upload'], function () {
        layui.soulTable.config({
            fixTotal: false,
            drag: false,
            rowDrag: true,
            overflow: true,
        });
        let tb = layui.table,
            fm = layui.form,
            soulTable = layui.soulTable,
            $ = layui.$,
            msg = layui.layer,
            upload = layui.upload;
        fm.render(null, 'steps');
        const steps_csrf = $("div[lay-filter='steps']>input[name='csrfmiddlewaretoken']").val();
        const case_id = $('#case_id').val();
        upload.render({
            elem: '#upload_file',
            url: '/apitest/case/attachment/',
            data: {
                'case_id': function () {
                    return case_id;
                }
            },
            headers: {'X-CSRFToken': steps_csrf},
            accept: 'file',
            exts: 'txt|doc|docx|xls|xlsx|yaml|jpg|png|gif|bmp|jpeg|zip|rar|7z',
            size: 2048,
            done: function (res) {
                console.log(res);
                if (res.hasOwnProperty("data") && res.data !== "") {
                    let text = res.data['file_name'] + '.' + res.data.suffix,
                        value = res.data['uuid'];
                    $('#attachments').append(new Option(text, value));
                    fm.render('select', 'steps');
                }
                layer.open({
                    content: '<div style="padding: 20px 100px;">' + res.msg + '</div>'
                    , type: 1
                    , title: '提示'
                    , time: 5000
                    , btn: '确定'
                    , yes: function (index) {
                        layer.close(index);
                    }
                });
            }
        });
        let table_data = [];
        let keywords = [];
        let cases = [];
        {% if keywords %}
            keywords = {{ keywords | safe }};
        {% endif %}
        {% if cases %}
            cases = {{ cases | safe }};
        {% endif %}
        {% if data %}
            table_data = {{ data | safe }};
        {% endif %}
        function reload_data($, case_id, tb) {
            let new_data;
            let options;
            $.ajax({
                url: "/apitest/case/steps/"
                , type: "GET"
                , data: {case_id: case_id}
                , success: function (data) {
                    new_data = data.data;
                    options = data.keywords;
                    for (let index in new_data) {
                        if (!new_data.hasOwnProperty(index)) continue;
                        new_data[index]['keywords'] = options;
                    }
                    table_data = new_data;
                    tb.reload("step_table", {
                        data: new_data
                    });
                    setSelectCSS();
                }
            });
        }

        let step_table = tb.render({
            elem: '#step_table',
            id: 'step_table',
            data: table_data,
            page: {
                curr: 1,
                limit: 10
            },
            even: true,
            toolbar: '#stepsToolBar',
            rowDrag: {/*trigger: 'row',*/ done: function (obj) { {#// 完成时（松开时）触发,如果拖动前和拖动后无变化，则不会触发此方法#}
                    let curr = step_table['config']['page']['curr'];
                    let limit = step_table['config']['page']['limit'];
                    table_data.splice((curr - 1) * limit, limit, ...obj.cache);
                }
            },
            cols: [[
                {type: 'numbers', title: '序号', fixed: 'left'},
                {#{field: 'step_order', title: 'Order', align: 'center'},#}
                {field: 'title', title: 'Title', align: 'center', edit: 'text', width: 200},
                {#{field: 'step_action', title: 'Action', align: 'center', edit: 'text'},#}
                {
                    field: 'step_action', title: 'Action', align: 'left', width: 200, templet(d) {
                        const beg = '<select name="step_action" lay-filter="step_action" id="step_action" required lay-verify="required">\n' +
                            '<option value="none">---</option>\n';
                        const end = '</select>';
                        let options = ''
                        for (let index in keywords) {
                            if (!keywords.hasOwnProperty(index)) continue;
                            let description = keywords[index]['description'].replace(' ', '&nbsp;');
                            if (keywords[index]['keyword'] === d.step_action) {
                                options += '<option selected="selected" value="' + keywords[index]['keyword'] + '">' + keywords[index]['keyword'].toUpperCase() + '&nbsp;---&nbsp;' + description + '</option>';
                            } else {
                                options += '<option value="' + keywords[index]['keyword'] + '">' + keywords[index]['keyword'].toUpperCase() + '&nbsp;---&nbsp;' + description + '</option>';
                            }
                        }
                        for (let index in cases) {
                            if (!cases.hasOwnProperty(index)) continue;
                            if (cases[index]['id'].toString() === d.step_action) {
                                options += '<option selected="selected" value="' + cases[index]['id'] + '">' + '用例:&nbsp;' + cases[index]['group__group'] + ' - ' + cases[index]['suite'] + ' - ' + cases[index]['title'] + '</option>';
                            } else {
                                options += '<option value="' + cases[index]['id'] + '">' + '用例:&nbsp;' + cases[index]['group__group'] + ' - ' + cases[index]['suite'] + ' - ' + cases[index]['title'] + '</option>';
                            }
                        }
                        return beg + options + end;
                    }
                },
                {field: 'step_p1', title: 'Param 1', align: 'center', edit: 'text', minWidth: 150},
                {field: 'step_p2', title: 'Param 2', align: 'center', edit: 'text', minWidth: 300},
                {field: 'step_p3', title: 'Param 3', align: 'center', edit: 'text', minWidth: 50},
                {field: '', title: 'Action', align: 'center', toolbar: '#row_tool', width: 80}
            ]],
            done: function (res) {
                soulTable.render(this);
                {#table_data = res.data;  //分页会截断数据#}
                setSelectCSS();
            }
        });

        function getRowIndex(tb, row) {
            let curr = parseInt($("[lay-id=step_table] .layui-laypage-curr em:last").text());
            let limit = parseInt($("[lay-id=step_table] .layui-laypage-limits option:selected").val());
            let idx = row.data('index');
            return (curr - 1) * limit + idx;
        }

        tb.on('tool(step_table)', function (obj) {
            let layEvent = obj.event;
            if (layEvent === 'del') {
                msg.confirm('是否确定删除?', function (index) {
                    let idx = getRowIndex(step_table, obj['tr']);
                    let curr = parseInt($("[lay-id=step_table] .layui-laypage-curr em:last").text());
                    obj.del();
                    table_data.splice(idx, 1);
                    tb.reload("step_table", {
                        data: table_data,
                        page: {curr: curr}
                    });
                    msg.close(index);
                });
            }
        });
        {#监听修改update到表格中#}
        fm.on('select(step_action)', function (data) {
            let elem = $(data.elem);
            let trElem = elem.parents('tr');
            {#更新到表格的缓存数据中，才能在获得选中行等等其他的方法中得到更新之后的值#}
            {#tableData[trElem.data('index')][elem.attr('name')] = data.value;#}
            let idx = getRowIndex(step_table, trElem)
            table_data[idx][elem.attr('name')] = data.value;
        });
        fm.on('switch(rowDragSwitch)', function (data) {
            soulTable.suspend('step_table', 'rowDrag', !data.elem.checked)
        });
        fm.on('submit(save_case)', function () {
            $.ajax({
                url: "/apitest/case/edit/"
                , type: "POST"
                , contentType: 'application/json; charset=utf-8'
                , beforeSend: function (xhr) {
                    xhr.setRequestHeader("X-CSRFToken", steps_csrf);
                }
                , data: JSON.stringify({case_id: case_id, data: table_data})
                , success: function (data) {
                    msg.open({
                        content: '<div style="padding: 20px 2em;">' + data.msg + '</div>'
                        , type: 1
                        , title: '提示'
                        , time: 10000
                        , btn: '确定'
                        , yes: function (index) {
                            msg.close(index);
                        }
                    });
                    reload_data($, case_id, tb);
                    {# 重载表格 #}
                }
            });
        });
        $("#new_step").on('click', function () {
            table_data.push({
                'step_order': table_data.length.toString(),
                'step_action': '',
                'step_p1': '',
                'step_p2': '',
                'step_p3': '',
                'title': '',
                'keywords': keywords
            });
            tb.reload("step_table", {
                data: table_data
            });
            {# 将新数据重新载入表格 #}
        });
        $("#copy_uuid").on('click', function () {
            const uuid = $('#attachments').val();
            const input = document.createElement('input');
            input.setAttribute('readonly', 'readonly');
            input.setAttribute('value', uuid);
            document.body.appendChild(input);
            input.setSelectionRange(0, input.value.length);
            {# sarafi #}
            input.select();
            if (document.execCommand('copy')) {
                document.execCommand('copy');
            }
            document.body.removeChild(input);
        });
        let tips;
        $('i.icon-help').on({
            mouseenter: function () {
                if (!tips) {
                    tips = msg.msg(helper_info, {
                        time: 0, btn: ['关闭'], offset: 'r', end: function () {
                            tips = null;
                        }
                    });
                }
            },
        });
    });
</script>







