{% extends "base1.html" %}
<!--{% block nav_side %}-->
<!--    <div class="layui-side layui-bg-cyan">-->
<!--        <div class="layui-side-scroll">-->
<!--            <ul class="layui-nav layui-nav-tree layui-bg-cyan"  lay-filter="test">-->
<!--                <li class="layui-nav-item">-->
<!--                    <a href="javascript:;">默认展开</a>-->
<!--                </li>-->
<!--                {% for first_level in menus %}-->
<!--                <li class="layui-nav-item">-->
<!--                    <a class="" href="{{first_level.url}}">{{first_level.text}}</a>-->
<!--                    {% if first_level.childs %}-->
<!--                    <dl class="layui-nav-child">-->
<!--                        {% for child in first_level.childs %}-->
<!--                        <dd><a href="{{child.url}}">{{child.text}}</a>-->
<!--                        {% endfor %}-->
<!--                    </dl>-->
<!--                    {% endif %}-->
<!--                </li>-->
<!--                {% endfor %}-->
<!--            </ul>-->
<!--        </div>-->
<!--    </div>-->
<!--{% endblock %}-->
{% block content %}
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>首页</legend>
    </fieldset>
    <div class="layui-container">
        <div class="layui-row">
            <div class="layui-col-md4 layui-col-md-offset4">
                {% if time %}
                    <h2 align="center">{{time}}</h2>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}