{% extends "base1.html" %}
{% load static %}
{% block statics %}
    <style type="text/css">
        .weather {
            text-align: center;
        }
        .weather span{
            margin: 5px;
        }
    </style>
{% endblock %}
<!--{% block nav_side %}-->
<!--    <div class="layui-side layui-bg-cyan">-->
<!--        <div class="layui-side-scroll">-->
<!--            <ul class="layui-nav layui-nav-tree layui-bg-cyan"  lay-filter="test">-->
<!--                <li class="layui-nav-item">-->
<!--                    <a href="javascript:;">默认展开</a>-->
<!--                </li>-->
<!--                {% for first_level in menus %}-->
<!--                <li class="layui-nav-item">-->
<!--                    <a class="" href="{{first_level.url}}">{{first_level.text}}</a>-->
<!--                    {% if first_level.childs %}-->
<!--                    <dl class="layui-nav-child">-->
<!--                        {% for child in first_level.childs %}-->
<!--                        <dd><a href="{{child.url}}">{{child.text}}</a>-->
<!--                        {% endfor %}-->
<!--                    </dl>-->
<!--                    {% endif %}-->
<!--                </li>-->
<!--                {% endfor %}-->
<!--            </ul>-->
<!--        </div>-->
<!--    </div>-->
<!--{% endblock %}-->
{% block content %}
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>首页</legend>
    </fieldset>
    <div class="layui-container">
        <div class="layui-row">
            <div class="layui-col-md4 layui-col-md-offset4">
                {% if time %}
                    <h2 style="text-align: center">{{time}}</h2>
                {% endif %}
                {% if weather %}
                    <h3 class="weather">
                        <span>{{ weather.skycon }}</span>
                        <span>温度: {{ weather.temperature }}度</span>
                        <span>湿度: {{ weather.humidity|floatformat:"0" }}%</span>
                        <span>{{ weather.comfort }}</span>
                    </h3>
                    <h3 class="weather">
                        <span>AQI:</span>
                        {% if weather.aqi <= 50 %}
                            <span style="color: #00FF00; margin: 0px">
                        {% elif weather.aqi > 50 and weather.aqi <= 100 %}
                            <span style="color: #5cb85c; margin: 0px">
                        {% elif weather.aqi > 100 and weather.aqi <= 150 %}
                            <span style="color: #ffcc00; margin: 0px">
                        {% elif weather.aqi > 150 and weather.aqi <= 200 %}
                            <span style="color: #df5000; margin: 0px">
                        {% elif weather.aqi > 200 %}
                            <span style="color: #FF0000; margin: 0px">
                        {% else %}
                            <span>
                        {% endif %}
                        {{ weather.aqi|floatformat:"0" }}</span>
                        <span>PM2.5:</span>
                        {% if weather.pm25 <= 50 %}
                            <span style="color: #00FF00; margin: 0px">
                        {% elif weather.pm25 > 50 and weather.pm25 <= 100 %}
                            <span style="color: #5cb85c; margin: 0px">
                        {% elif weather.pm25 > 100 and weather.pm25 <= 150 %}
                            <span style="color: #ffcc00; margin: 0px">
                        {% elif weather.pm25 > 150 and weather.pm25 <= 200 %}
                            <span style="color: #df5000; margin: 0px">
                        {% elif weather.pm25 > 200 %}
                            <span style="color: #FF0000; margin: 0px">
                        {% else %}
                            <span>
                        {% endif %}
                        {{ weather.pm25|floatformat:"0" }}</span>
                        <span>空气质量: {{ weather.air_desc }}</span>
                    </h3>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
