<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyWeb</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href=" {% static 'css/layui.css' %}">
    <script src="{% static 'layui.all.js' %} " ></script>
</head>
<body>
    <div class="layui-container">
        <!--表单-->
            <div class="layui-row">
                <form class="layui-form" action="">
                <div class="layui-col-lg4-offset1">
                    <div class="layui-form-item-inline">
                    <!--<label class="layui-form-label">用户名</label>-->
                        <i class="layui-icon">&#xe66f;</i>
                        <div class="layui-input-inline">
                            <input type="text" name="username" required  lay-verify="required" placeholder="请输入用户名" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                 </div>
                 <!--<div class="layui-form-item-inline">-->
                    <!--<i class="layui-icon">&#xe673;</i>-->
                    <!--<div class="layui-input-inline">-->
                        <!--<input type="password" name="password" required lay-verify="required" placeholder="请输入密码" class="layui-input">-->
                    <!--</div>-->
                 <!--</div>-->
                </form>
            </div>
    </div>
    <script>
        !function(){
            var layer = layui.layer,
            form = layui.form
            ;
        }();

    </script>
</body>
</html>