{% extends "base.html" %}

{% load static %}
{% block statics %}
    <style type="text/css">
        h2 {
            margin: 10px;
        }

        div .line {
            margin-left: 5px;
            margin-bottom: 5px;
        }
    </style>
{% endblock %}

{% block content %}
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>个人信息</legend>
    </fieldset>
    <h2>修改邮箱</h2>
    <div class="layui-form layui-form-pane" lay-filter="email">
        <form class="layui-form" id="email_form" action="{% url 'login:personal' %}" method="post">
            {% csrf_token %}
            <div class="email">
                <div class="line">
                    <label class="layui-form-label ">Email：</label>
                    <div class="layui-input-inline">
                        <input class="layui-input" name="email" id="email"
                               {% if info %}value="{{ info.personal.email }}" {% endif %} required
                               lay-verify="required" lay-verType="tips" placeholder="请输入邮箱" autocomplete="off">
                    </div>
                    <button class="layui-btn layui-inline" id="modify_email" lay-submit
                            lay-filter="modify_email">
                        修改
                    </button>
                </div>
            </div>
        </form>
    </div>
    <h2>修改密码</h2>
    <div class="layui-form layui-form-pane" lay-filter="pwd">
        <form class="layui-form" id="modify_pwd" action="{% url 'login:personal' %}" method="post">
            {% csrf_token %}
            <div class="password">
                <div class="line">
                    <label class="layui-form-label ">Old：</label>
                    <div class="layui-input-inline">
                        <input class="layui-input" type="password" name="old_pwd" id="old_pwd" required
                               lay-verify="required" lay-verType="tips" placeholder="请输入旧密码" autocomplete="off">
                    </div>
                </div>
                <div class="line">
                    <label class="layui-form-label ">New：</label>
                    <div class="layui-input-inline">
                        <input class="layui-input" type="password" name="new_pwd" id="new_pwd" required
                               lay-verify="required" lay-verType="tips" placeholder="请输入新密码" autocomplete="off">
                    </div>
                </div>
                <div class="line">
                    <label class="layui-form-label ">Repeat：</label>
                    <div class="layui-input-inline">
                        <input class="layui-input" type="password" name="repeat_pwd" id="repeat_pwd" required
                               lay-verify="required" lay-verType="tips" placeholder="请再次输入密码"
                               autocomplete="off">
                    </div>
                    <button class="layui-btn layui-inline" id="modify_password" lay-submit
                            lay-filter="modify_pwd">
                        修改
                    </button>
                </div>

            </div>
        </form>
    </div>
{% endblock %}

{% load static %}
{% block script %}
    <script>
        !function () {
            let form = layui.form;
            {#let $ = layui.$;#}
            {#let expand = layui.sessionData('expand').expand;#}
            {#form.on('submit(modify_email)', function (data) {#}
            {#    $('#email_form').submit();#}
            {# });#}
            {#form.on('submit(modify_pwd)', function (data) {#}
            {#    $('#modify_pwd').submit();#}
            {# }); #}
        }();
    </script>
{% endblock %}


