<div class="layui-form  layui-form-pane" lay-filter="new_job" style="padding: 20px 5em;">
    {% csrf_token %}
    <div class="new_job"  style="min-width: 70%">
        <div class="layui-form-item">
            <label class="layui-form-label" style="min-width: 40%"><span style="color: red">*</span>RPC
                Function：</label>
            <div class="layui-input-inline">
                <select name="new_func" id="new_func" lay-verify="required" lay-filter="new_func">
                    <option value="">请选择注册测试类</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="min-width: 40%">Method：</label>
            <div class="layui-input-inline">
{#                <input class="layui-input" name="new_method" id="new_method" autocomplete="off">#}
                <select name="new_method" id="new_method" lay-verify="required" lay-filter="new_method">
                    <option value="">请选择测试方法</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="min-width: 40%">Range：</label>
            <div class="layui-input-inline">
                <input class="layui-input" name="new_ds_range" id="new_ds_range" autocomplete="off">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="min-width: 40%">Comment：</label>
            <div class="layui-input-inline">
                <input class="layui-input" name="new_comment" id="new_comment" autocomplete="off">
            </div>
        </div>
    </div>
</div>
<script>
    {#弹出层需要重新渲染#}
    layui.use('form', function () {
        let fm = layui.form;
        let funcs = [];
        {% if func %}
            let methods, methods_opt;
            {% for opt in func %}
                methods = '{{opt.tests}}';
                methods_opt = methods.split(',');
                funcs.push({'func': '{{ opt.func }}', 'group': '{{ opt.group }}', 'suite': '{{ opt.suite }}', 'methods':methods_opt});
                $('#new_func').append($('<option value="{{ opt.func }}"></option>').text('{{ opt.group }} - {{ opt.suite }}: {{ opt.func }}'));
            {% endfor %}
        {% endif %}
        fm.render(null, 'new_job');

        fm.on('select(new_func)', function (data) {
            let selected_func = data.value;
            let new_method =  $("#new_method");
            $("#new_method option").remove();
            new_method.append($('<option value="">请选择测试方法</option>')).append($('<option value="all">all</option>'));
            for(let i in funcs){
                if(selected_func && selected_func === funcs[i]['func']){
                    let mthds = funcs[i]['methods'];
                    for (let j in mthds) {
                        new_method.append($('<option value="' + mthds[j] + '"></option>').text(mthds[j]));
                    }
                    break;
                }
            }
            fm.render(new_method);
        });

    });
</script>
