{% extends "base1.html" %}

{% block content %}
    <table id="run_his" lay-filter="run_his"></table>
{% endblock %}

{% load static %}
{% block script %}
    <script>
        !function () {
            var table = layui.table;

            var run_his = table.render({
                elem: '#run_his'
                , height: 'full'
                , url: '/autotest/run_his/get/' //数据接口
                , page: true //开启分页
                , even: true //奇偶行背景
                , cols: [[ //表头
                    {field: 'group', title: 'TestGroup', sort: true, fixed: 'left', align: 'center'}
                    , {field: 'suite', title: 'TestSuit', sort: true, align: 'center'}
                    , {field: 'case', title: 'TestCase', sort: true, align: 'center'}
                    , {field: 'title', title: 'Title', align: 'center'}
                    , {field: 'tester', title: 'Tester', align: 'center'}
                    , {field: 'result', title: 'Result', align: 'center'}
                    , {field: 'create_time', title: 'Time', align: 'center'}
                    , {
                        field: 'report', title: 'Report', align: 'center', templet: function (d) {
                            return '<a target="_blank" href="report\\?path='  + d.report + '">报告</a>'
                        }
                    }
                ]]
            });
        }();
    </script>
{% endblock %}
