{% extends "base1.html" %}

{% block content %}
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>执行历史</legend>
    </fieldset>
    <div class="layui-form layui-form-pane" lay-filter="search">
    {% csrf_token %}
        <div class="layui-form-item">
            <div class="search">
                <div class="layui-inline">
                    <label class="layui-form-label ">Group：</label>
                    <div class="layui-input-inline">
                        <select name="group" id="group">
                            <option value=""></option>
                            {% if options.group %}
                                {% for grp in options.group %}
                                    <option value="{{ grp.group }}">{{ grp.group }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </div>

                    <label class="layui-form-label">Suite：</label>
                    <div class="layui-input-inline">
                        <select name="suite" id="suite">
                            <option value=""></option>
                            {% if options.suite %}
                                {% for sut in options.suite %}
                                    <option value="{{ sut.suite }}">{{ sut.suite }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </div>

                    <label class="layui-form-label">Case：</label>
                    <div class="layui-input-inline">
                        <input class="layui-input" name="testcase" id="testcase" autocomplete="off">
                    </div>
                    <label class="layui-form-label">Tester：</label>
                    <div class="layui-input-inline">
                        <select name="tester" id="tester">
                            <option value=""></option>
                            {% if options.tester %}
                                {% for tst in options.tester %}
                                    <option value="{{ tst.tester }}">{{ tst.tester }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label">Result：</label>
                    <div class="layui-input-inline">
                        <select name="result" id="result">
                            <option value=""></option>
                            <option value="0">通过</option>
                            <option value="1">失败</option>
                            <option value="2">错误</option>
                            <option value="3">跳过</option>
                        </select>
                    </div>

                    <label class="layui-form-label">From：</label>
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" name="from" id="from" placeholder="请选择"
                               autocomplete="off">
                    </div>

                    <label class="layui-form-label">To：</label>
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" name="to" id="to" placeholder="请选择" autocomplete="off">
                    </div>

                    <button type="reset" class="layui-btn layui-inline" id="reset">重置</button>
                    <button class="layui-btn layui-inline" id="search" data-type="reload">搜索</button>
                </div>

            </div>
        </div>
    </div>
    <table id="run_his" lay-filter="run_his"></table>
{% endblock %}

{% load static %}
{% block script %}
    <script>
        !function () {
            let table = layui.table;
            let form = layui.form;
            let laydate = layui.laydate;
            let $ = layui.$;
            let expand = layui.sessionData('expand').expand;
            let tester = $('#tester').val();
            let group = $('#group').val();
            let suite = $('#suite').val();
            let testcase = $('#testcase').val();
            let result = $('#result').val();
            let beg = '';
            let end = '';

            laydate.render({
                elem: '#from'
                , max: 0
                , done: function (value, date, endDate) {
                    {#console.log(value); //得到日期生成的值，如：2017-08-18#}
                    beg = value;
                    if (end !== '' && beg !== '') {
                        let end_date = new Date(end).getDate();
                        let beg_date = new Date(beg).getDate();
                        if (beg_date > end_date) {
                            layer.msg('开始日期不能大于结束日期!', {offset: '25%', time: 2000})
                        }
                    }
                }
            });

            laydate.render({
                elem: '#to'
                , max: 0
                , done: function (value, date, endDate) {
                    {#console.log(value); //得到日期生成的值，如：2017-08-18#}
                    end = value;
                    if(end!=='' && beg!==''){
                        let end_date = new Date(end).getDate();
                        let beg_date = new Date(beg).getDate();
                        if (beg_date>end_date){
                            layer.msg('开始日期不能大于结束日期!', {offset:'25%', time:2000})
                        }
                    }
                }
            });

            let run_his = table.render({
                    elem: '#run_his'
                    , height: 'full'
                    , url: '/autotest/run_his/get/' //数据接口
                    , where: {
                        tester: tester,
                        group: group,
                        suite: suite,
                        testcase: testcase,
                        result: result,
                        beg: beg,
                        end: end,
                        expand: expand
                    }
                    , page: {
                        curr: 1,
                        limit: 10
                    } //开启分页
                    , even: true //奇偶行背景
                    , cols: [[ //表头
                        {field: 'group', title: 'TestGroup', width: '10%', sort: true, fixed: 'left', align: 'center'}
                        , {field: 'suite', title: 'TestSuit', width: '10%', sort: true, align: 'center'}
                        , {field: 'case', title: 'TestCase', minWidth: 80, sort: true, align: 'center'}
                        , {field: 'title', title: 'Title', minWidth: 245, align: 'center'}
                        , {field: 'tester', title: 'Tester', width: '10%', align: 'center'}
                        , {
                            field: 'result', title: 'Result', width: '10%', sort: true, align: 'center', templet: function (d) {
                                if (d.result.toString() === '通过') {
                                    return '<span style="color: green">' + d.result + '</span>'
                                } else if (d.result.toString() === '失败') {
                                    return '<span style="color: red">' + d.result + '</span>'
                                } else if (d.result.toString() === '错误') {
                                    return '<span style="color: brown">' + d.result + '</span>'
                                } else {
                                    return d.result
                                }
                            }
                        }
                        , {field: 'create_time', title: 'Time', minWidth: 160, align: 'center'}
                        , {
                            field: 'report', title: 'Report', width: '10%', align: 'center', templet: function (d) {
                                return '<a target="_blank" class="layui-btn layui-btn-xs" href="report\\?path=' + d.report + '">查看报告</a>'
                            }
                        }
                    ]]
                    , done: function (res, curr, count) {
                        let exp = res.expand;
                        if (exp !== '' && exp != null) {
                            $("." + exp).parent().attr("class", "layui-nav-item layui-nav-itemed");
                        }
                    }

                })
            ;

            let active = {
                reload: function () {
                    let tester = $('#tester').val();
                    let group = $('#group').val();
                    let suite = $('#suite').val();
                    let testcase = $('#testcase').val();
                    let result = $('#result').val();
                    let expand = layui.sessionData('expand').expand;
                    {#console.log(group);#}
                    run_his.reload({
                        page: {
                            curr: 1 //重新从第 1 页开始
                        }
                        , where: {
                            tester: tester,
                            group: group,
                            suite: suite,
                            testcase: testcase,
                            result: result,
                            beg: beg,
                            end: end,
                            expand: expand
                        }
                        , done: function (res, curr, count) {
                            let exp = res.expand;
                            if (exp !== '' && exp != null) {
                                $("." + exp).parent().attr("class", "layui-nav-item layui-nav-itemed");
                            }
                        }
                    });
                }
            };

            $('#search').on('click', function () {
                let type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            });

            $('#reset').on('click', function () {
                form.val('search', {
                    "group": 1
                    ,"suite": 1
                    ,"testcase": ""
                    ,"tester": 1
                    ,"result": -1
                    ,"from": ""
                    ,"to": ""
                });
                beg = '';
                end = '';

            });
        }();
    </script>
{% endblock %}
