<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href=" {% static 'css/layui.css' %}">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}"/>
    {% block statics %}
    {% endblock %}
    <style type="text/css">
        .layui-nav {
            border-radius: 0;
        }
    </style>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!--head nav-->
    <div class="layui-header">
        <div class="layui-logo"><a href="{% url 'login:index' %}" style="color: #009680; font-size: 17px"> Automated
            Test Platform</a></div>
        <!-- header-nav -->
        <ul class="layui-nav layui-layout-left">
            {% block head_nav %}
            {% endblock %}
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <i class="layui-icon layui-icon-username" style="font-size: 18px;"></i>
                    {{ user_name }} - {{ user_group }}
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="{% url 'login:personal' %}"><i class="layui-icon layui-icon-home"
                                                                style="font-size: 16px;"></i> 个人中心</a></dd>
                    <dd><a href="{% url 'login:logout' %}"><i class="layui-icon layui-icon-logout"
                                                              style="font-size: 16px;"></i> 注销</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href=""> </a></li>
        </ul>
    </div>

    <!--left-nav-tree-->
    {% if menus %}
        <div class="layui-side layui-bg-cyan">
            <div class="layui-side-scroll">
                <ul class="layui-nav layui-nav-tree layui-bg-cyan" lay-shrink="all" lay-filter="test">
                    {% for first_level in menus %}
                        {#                        <li class="layui-nav-item {% ifequal first_level.text '自动化测试' %}layui-nav-itemed{% endifequal %}">#}
                        <li class="layui-nav-item">
                            <a class="{{ first_level.text }}" href="{{ first_level.url }}">
                                {% if first_level.icon %}
                                    <i class="layui-icon {{ first_level.icon }}"
                                       style="font-size: 18px;"></i>
                                {% endif %}
                                {{ first_level.text }}
                            </a>
                            {% if first_level.childs %}
                                <dl class="layui-nav-child">
                                    {% for child in first_level.childs %}
                                        <dd><a href="{{ child.url }}">
                                            {% if child.icon %}
                                                <i class="layui-icon {{ child.icon }}"
                                                   style="font-size: 18px;"></i>
                                            {% endif %}
                                            {{ child.text }}
                                        </a></dd>
                                    {% endfor %}
                                </dl>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}


    {#<!-- body -->#}
    {# 修改原始样式,不出现滚动条,和footer配合 #}
    <div class="layui-body" style="bottom: 20px">
        {% block content %}
        {% endblock %}
    </div>
    <!-- footer -->
    <div class="layui-footer" style="max-height: 20px;line-height:20px">
        © ted.wang
    </div>

</div>
{% load static %}
<script src="{% static 'layui.js' %} "></script>
<script>
    !function () {
        let layer = layui.layer;
        let $ = layui.jquery;
        let element = layui.element;
        $(".layui-side li.layui-nav-item a").on('click', function () {
            let expand = $(this).attr('class');
            if (layui.sessionData('expand').expand === 'none' || layui.sessionData('expand').expand !== expand) {
                {#console.log('expand');#}
                layui.sessionData('expand', {key: 'expand', value: expand});
            } else {
                {#console.log('remove');#}
                layui.sessionData('expand', {key: 'expand', value: 'none'});
            }
        });

        let exp = layui.sessionData('expand').expand;
        {% if expand %}
            if (layui.sessionData('expand').expand === 'none' || layui.sessionData('expand').expand == null) {
                exp = "{{expand}}";
                layui.sessionData('expand', {key: 'expand', value: exp});
            }
        {% endif %}
        if (exp != null && exp.toString() !== '') {
            $("." + exp).parent().attr("class", "layui-nav-item layui-nav-itemed");
        }
        {% if message %}
            layer.open({
                content: '<div style="padding: 20px 100px;">' + '{{message}}' + '</div>'
                , type: 1
                , title: '提示'
                , time: 5000
                , btn: '确定'
                , yes: function () {
                    layer.closeAll();
                }
            });
        {% endif %}

    }();
</script>
{% load static %}
{% block script %}
{% endblock %}
</body>
</html>
